<!DOCTYPE html>
<html lang="en" data-bs-theme="auto">
  <head>

    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="description" content="" />
    <title>Churn Prediction</title>

    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-KK94CHFLLe+nY2dmCWGMq91rCGa5gtU4mk92HdvYe+M/SXH301p5ILy+dN9+nJOZ"
      crossorigin="anonymous"
    />

  </head>
  <body class="bg-body-tertiary">

    <div class=" container">
      <main>
        <div class="py-5 text-center">
          <h2>Telecom Customer Churn Analysis Prediction</h2>
        </div>

        <div class="row">
          <div class="col-md-9 col-lg-10">
            <h4 class="mb-3">About</h4>
            <form action="/" method="POST" class="needs-validation" novalidate>
              <div class="row g-3">
                <div class="col-sm-6">
                  <label for="firstName" class="form-label">First name</label>
                  <input
                    type="text"
                    class="form-control"
                    id="firstName"
                    name="firstName"
                    placeholder=""
                    value=""
                    required
                  />
                  <div class="invalid-feedback">
                    Valid first name is required.
                  </div>
                </div>

                <div class="col-sm-6">
                  <label for="lastName" class="form-label">Last name</label>
                  <input
                    type="text"
                    class="form-control"
                    id="lastName"
                    name="lastName"
                    placeholder=""
                    value=""
                    required
                  />
                  <div class="invalid-feedback">
                    Valid last name is required.
                  </div>
                </div>

                <div class="col-md-3">
                  <label for="gender" class="form-label">Gender</label>
                  <select class="form-select" id="gender" name="gender" required>
                    <option value="">Choose...</option>
                    <option>Female</option>
                    <option>Male</option>
                  </select>
                  <div class="invalid-feedback">
                    Please provide your Gender.
                  </div>
                </div>

                <div class="col-md-3">
                  <label for="citizen" class="form-label"
                    >Are you Senior Citizen?</label
                  >
                  <select class="form-select" id="citizen" name="citizen" required>
                    <option value="">Choose...</option>
                    <option>Yes</option>
                    <option>No</option>
                  </select>
                  <div class="invalid-feedback">
                    Please provide value for Senior Citizen.
                  </div>
                </div>

                <div class="col-md-3">
                  <label for="partner" class="form-label">Married?</label>
                  <select class="form-select" id="partner" name="partner" required>
                    <option value="">Choose...</option>
                    <option>Yes</option>
                    <option>No</option>
                  </select>
                  <div class="invalid-feedback">
                    Please provide your Marital Status.
                  </div>
                </div>

                <div class="col-md-3">
                  <label for="dependents" class="form-label">Dependents</label>
                  <select class="form-select" id="dependents" name="dependents" required>
                    <option value="">Choose...</option>
                    <option>Yes</option>
                    <option>No</option>
                  </select>
                  <div class="invalid-feedback">
                    Please provide if you have dependents.
                  </div>
                </div>


              <hr class="my-4" />

              <h4 class="mb-3">Services</h4>

              <div class="col-md-4">
                <label for="phone-service" class="form-label"
                  >Have a Phone Service?</label
                >
                <select class="form-select" id="phone-service" name="phone-service" required>
                  <option value="">Choose...</option>
                  <option>Yes</option>
                  <option>No</option>
                </select>
                <div class="invalid-feedback">
                  Please select if you have a phone service
                </div>
              </div>

              <div class="col-md-4">
                <label for="multiple-lines" class="form-label">Have multiple lines?</label>
                <select class="form-select" id="multiple-lines" name="multiple-lines" required>
                  <option value="">Choose...</option>
                  <option>Yes</option>
                  <option>No phone service</option>
                  <option>No</option>
                </select>
                <div class="invalid-feedback">
                  Please provide if you have multiple lines.
                </div>
              </div>

              <div class="col-md-4">
                <label for="internet-service" class="form-label">Internet Service</label>
                <select class="form-select" id="internet-service" name="internet-service" required>
                  <option value="">Choose...</option>
                  <option>DSL</option>
                  <option>Fiber optic</option>
                  <option>No</option>
                </select>
                <div class="invalid-feedback">
                  Please provide your internet service.
                </div>
              </div>

              <hr class="my-4" />

              <h4 class="mb-3">Online Services</h4>

              <div class="col-md-3">
                <label for="online-security" class="form-label"
                  >Online Security?</label
                >
                <select class="form-select" id="online-security" name="online-security" required>
                  <option value="">Choose...</option>
                  <option>Yes</option>
                  <option>No internet service</option>
                  <option>No</option>
                </select>
                <div class="invalid-feedback">
                  Please select if you have an online security
                </div>
              </div>

              <div class="col-md-3">
                <label for="online-backup" class="form-label">Online Backup?</label>
                <select class="form-select" id="online-backup" name="online-backup" required>
                  <option value="">Choose...</option>
                  <option>Yes</option>
                  <option>No internet service</option>
                  <option>No</option>
                </select>
                <div class="invalid-feedback">
                  Please select if you have an online backup.
                </div>
              </div>

              <div class="col-md-3">
                <label for="device-protect" class="form-label">Device Protection</label>
                <select class="form-select" id="device-protect" name="device-protect" required>
                  <option value="">Choose...</option>
                  <option>Yes</option>
                  <option>No internet service</option>
                  <option>No</option>
                </select>
                <div class="invalid-feedback">
                  Please provide your Device Protection.
                </div>
              </div>

              <div class="col-md-3">
                <label for="tect-support" class="form-label">Tech Support</label>
                <select class="form-select" id="tect-support" name="tect-support" required>
                  <option value="">Choose...</option>
                  <option>Yes</option>
                  <option>No internet service</option>
                  <option>No</option>
                </select>
                <div class="invalid-feedback">
                  Please provide your Techincal Support.
                </div>
              </div>

              <hr class="my-4" />

              <h4 class="mb-3">Streaming Services</h4>

              <div class="col-md-4">
                <label for="streaming-tv" class="form-label"
                  >Streaming TV?</label
                >
                <select class="form-select" id="streaming-tv" name="streaming-tv" required>
                  <option value="">Choose...</option>
                  <option>Yes</option>
                  <option>No internet service</option>
                  <option>No</option>
                </select>
                <div class="invalid-feedback">
                  Please select if you have Streaming TV
                </div>
              </div>

              <div class="col-md-4">
                <label for="streaming-movies" class="form-label">Streaming Movies?</label>
                <select class="form-select" id="streaming-movies" name="streaming-movies" required>
                  <option value="">Choose...</option>
                  <option>Yes</option>
                  <option>No internet service</option>
                  <option>No</option>
                </select>
                <div class="invalid-feedback">
                  Please provide if you have Streaming Movies.
                </div>
              </div>

              <hr class="my-4" />

              <h4 class="mb-3">Payment Preferences</h4>

              <div class="col-md-4">
                <label for="contract" class="form-label">Contract</label>
                <select class="form-select" id="contract" name="contract" required>
                  <option value="">Choose...</option>
                  <option>Month-to-month</option>
                  <option>One year</option>
                  <option>Two year</option>
                </select>
                <div class="invalid-feedback">
                  Please provide if you have Contract.
                </div>
              </div>

              <div class="col-md-4">
                <label for="paperless-billing" class="form-label">Paperless Billing</label>
                <select class="form-select" id="paperless-billing" name="paperless-billing" required>
                  <option value="">Choose...</option>
                  <option>Yes</option>
                  <option>No</option>
                </select>
                <div class="invalid-feedback">
                  Please provide if you have Paperless Billing.
                </div>
              </div>

              <div class="col-md-4">
                <label for="payment-method" class="form-label">Payment Method</label>
                <select class="form-select" id="payment-method" name="payment-method" required>
                  <option value="">Choose...</option>
                  <option>Bank transfer (automatic)</option>
                  <option>Credit card (automatic)</option>
                  <option>Electronic check</option>
                  <option>Mailed check</option>
                </select>
                <div class="invalid-feedback">
                  Please provide if you have Payment Method.
                </div>
              </div>

              <div class="row gy-3">
                <div class="col-sm-4">
                  <label for="tenure" class="form-label">Tenure</label>
                  <input
                    class="form-control"
                    id="tenure"
                    name="tenure"
                    required
                  />
                  <div class="invalid-feedback">
                    Enter Valid Tenure.
                  </div>
                </div>

                <div class="col-sm-4">
                  <label for="monthly-charges" class="form-label">Monthly Charges</label>
                  <input
                    class="form-control"
                    id="monthly-charges"
                    name="monthly-charges"
                    required
                  />
                  <div class="invalid-feedback">
                    Enter Valid Monthly Charges.
                  </div>
                </div>

                <div class="col-sm-4">
                  <label for="total-charges" class="form-label">Total Charges</label>
                  <input
                    class="form-control"
                    id="total-charges"
                    name="total-charges"
                    required
                  />
                  <div class="invalid-feedback">
                    Enter Valid Total Charges.
                  </div>
                </div>
              </div>

              <hr class="my-4" />

              <button class="w-50 btn btn-primary btn-lg" type="submit">
                Get Predictions
              </button>
              </br>
              </div>
              <div>
              </br>
              </div>
            </form>
          </div>
        </div>
      </main>
    </div>
  </body>
</html>
